<div class="card-box">
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="create" id="addbtn"  class="btn btn-success btn-rounded">Add New</a>
    </div>
  </div>
  <br>
    
    <div class="row">
              <div class="table-responsive">
                  
                    <table class="table table-bordered" id="datatable" role="grid" >
                      <thead class="bg-primary text-white">
                          <tr role="row">
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Designation</th>
                            <th>Action</th>
                            </tr>
                      </thead>
                      <tbody>
<tr *ngFor="let item of employeedata$">
<td>{{item.code}}</td>
<td>{{item.name}}</td>
<td>{{item.email}}</td>
<td>{{item.phone}}</td>
<td>{{item.designation}}</td>
<td><button routerLink="edit/{{item.code}}" class="btn btn-primary">Edit</button> | <button (click)="delete(item.code)" class="btn btn-danger">Delete</button></td>
</tr>
                      </tbody>
                  </table>
                
              </div>
          </div>
        </div>